# Additional Analyses of Montana Policing Data

## Setup

In [2]:
#Import libraries

library(tidyverse)
library(lubridate)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [3]:
#File path for raw data
mt_path <- "data/hp256wp2687_mt_statewide_2019_08_13.rds"

#File path for cleaned data

mt_path_clean <- "data_cleaning/cleaned_mt_records.csv"

#load raw data
data <-
    mt_path %>%
    read_rds()

#Load cleaned data
data_clean <-
    mt_path_clean %>%
    read_csv()

head(data)
head(data_clean)

Parsed with column specification:
cols(
  date = col_date(format = ""),
  time = col_double(),
  year = col_double(),
  lat = col_double(),
  lng = col_double(),
  subject_race = col_character(),
  search_conducted = col_logical(),
  reason_for_stop = col_character(),
  violation_type = col_character(),
  consent_search_conducted = col_logical(),
  raw_search_type = col_character()
)

  raw_row_number date       time     location                    lat
1 1              2009-01-01 02:10:53 US 89 N MM10 (SB)           47.57274
2 2              2009-01-02 11:34:19 HWY 93 SO AND ANNS LANE S/B 46.76123
3 3              2009-01-03 11:36:42 P007 HWY 93 MM 77 N/B       46.69468
4 4              2009-01-04 10:33:11 P007 HWY 93 MM 81 S/B       46.72739
5 5              2009-01-04 10:46:43 P007 HWY 93 MM 81 N/B       46.72952
6 6              2009-01-04 14:41:57 P007 HWY 93 MM 67 S/B       46.53228
  lng       county_name     subject_age subject_race subject_sex ...
1 -111.8029 Cascade County  16          white        female      ...
2 -114.0811 Missoula County 19          white        male        ...
3 -114.0735 Missoula County 17          white        male        ...
4 -114.0790 Missoula County 17          NA           female      ...
5 -114.0791 Missoula County 31          NA           male        ...
6 -114.1107 Ravalli County  20          NA           male        ...
  search_basis reason_for_stop                   vehicle_make vehicle_model
1 NA           --- - HIT AND RUN                 FORD         EXPLORER
2 NA           EXPIRED TAG ( - MONTHS OR LESS )  GMC          TK
3 NA           SPEED                             GMC          YUKON
4 NA           SPEED                             HOND         CR-V
5 NA           SPEED                             TOYT         TERCEL
6 NA           OTHER TAG/REGISTRATION VIOLATIONS JEEP         CHE
  vehicle_type  vehicle_registration_state vehicle_year raw_Race raw_Ethnicity
1 SPORT UTILITY MT                         1994         W        N
2 TRUCK         MT                         1996         W        N
3 SPORT UTILITY MT                         1999         W        N
4 SPORT UTILITY MT                         2002         W        NA
5 SEDAN         MT                         1992         I        NA
6 SPORT UTILITY MT                         1998         W        NA
  raw_SearchType
1 NO SEARCH REQUESTED
2 NO SEARCH REQUESTED
3 NO SEARCH REQUESTED
4 NA
5 NA
6 NA

  date       time year lat      lng       subject_race search_conducted
1 2009-01-01 1    2009 47.57274 -111.8029 white        FALSE
2 2009-01-02 2    2009 46.76123 -114.0811 white        FALSE
3 2009-01-03 3    2009 46.69468 -114.0735 white        FALSE
4 2009-01-04 4    2009 46.72739 -114.0790 NA            TRUE
5 2009-01-04 5    2009 46.72952 -114.0791 NA            TRUE
6 2009-01-04 6    2009 46.53228 -114.1107 NA            TRUE
  reason_for_stop                   violation_type
1 hit and run                       motor vehicle serious
2 expired tag 4 months or less      license/registration/insurance
3 speed                             motor vehicle hazardous
4 speed                             motor vehicle hazardous
5 speed                             motor vehicle hazardous
6 other tag/registration violations license/registration/insurance
  consent_search_conducted raw_search_type
1 FALSE                    NO SEARCH REQUESTED
2 FALSE                    NO SEARCH REQUESTED
3 FALSE                    NO SEARCH REQUESTED
4    NA                    NA
5    NA                    NA
6    NA                    NA

In [4]:
#Flathead counties

flathead_counties <- c(
    'Flathead County', 
    'Lincoln County', 
    'Lake County', 
    'Mineral County', 
    'Missoula County', 
    'Ravalli County', 
    'Sanders County', 
    'Salish & Kootenai County'
    )

In [5]:
data %>% colnames()
data_clean %>% colnames()

 [1] "raw_row_number"             "date"
 [3] "time"                       "location"
 [5] "lat"                        "lng"
 [7] "county_name"                "subject_age"
 [9] "subject_race"               "subject_sex"
[11] "department_name"            "type"
[13] "violation"                  "arrest_made"
[15] "citation_issued"            "warning_issued"
[17] "outcome"                    "frisk_performed"
[19] "search_conducted"           "search_basis"
[21] "reason_for_stop"            "vehicle_make"
[23] "vehicle_model"              "vehicle_type"
[25] "vehicle_registration_state" "vehicle_year"
[27] "raw_Race"                   "raw_Ethnicity"
[29] "raw_SearchType"

 [1] "date"                     "time"
 [3] "year"                     "lat"
 [5] "lng"                      "subject_race"
 [7] "search_conducted"         "reason_for_stop"
 [9] "violation_type"           "consent_search_conducted"
[11] "raw_search_type"

### Compare the difference between consent search rates in Flathead and the rest of the state, not accounting for race

In [6]:
## Consent search rate for all of Montana
data %>%
summarize(
    total_stops = n(),
    consent_searches = sum(search_basis == "consent", na.rm = T),
    consent_search_rate = (consent_searches/total_stops)
)

  total_stops consent_searches consent_search_rate
1 825118      2240             0.002714763

In [7]:
## Consent search rate around Flathead

flat_head_data <- data %>% filter(county_name %in% flathead_counties)

flat_head_data %>%
summarize(
    total_stops = n(),
    consent_searches = sum(search_basis == "consent", na.rm = T),
    consent_search_rate = (consent_searches/total_stops)
)

  total_stops consent_searches consent_search_rate
1 224658      792              0.003525359

### Do consent search rates differ by violation and race?

In [8]:
#Consent search rates for violation "Motor Vehicle Hazardous"
data_clean_1 <- data_clean %>% filter (violation_type == "motor vehicle hazardous")


data_clean_1 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_mvh = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_mvh
1 NA           0.000000000
2 asian        0.004629630
3 black        0.009473684
4 hispanic     0.008352932
5 indigenous   0.006394940
6 unknown      0.000000000
7 white        0.001561814

In [9]:
#Consent search rates for violation "Motor Vehicle Serious"
data_clean_2 <- data_clean %>% filter (violation_type == "motor vehicle serious")


data_clean_2 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_mvs = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_mvs
1 NA                   NaN
2 asian        0.000000000
3 black        0.030303030
4 hispanic     0.013201320
5 indigenous   0.018108652
6 unknown      0.000000000
7 white        0.005740884

In [10]:
#Consent search rates for violation "Equipment"
data_clean_3 <- data_clean %>% filter (violation_type == "equipment")


data_clean_3 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_e = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_e
1 NA                   NaN
2 asian        0.020408163
3 black        0.022727273
4 hispanic     0.005063291
5 indigenous   0.027000491
6 unknown      0.000000000
7 white        0.006773320

In [11]:
#Consent search rates for violation "License/Registration/Insurance"
data_clean_4 <- data_clean %>% filter (violation_type == "license/registration/insurance")


data_clean_4 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_lri = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_lri
1 NA           0.000000000
2 asian        0.000000000
3 black        0.030373832
4 hispanic     0.020539153
5 indigenous   0.032855939
6 unknown      0.007246377
7 white        0.006246582

In [12]:
#Consent search rates for violation "Commercial"
data_clean_5 <- data_clean %>% filter (violation_type == "commercial")


data_clean_5 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_c = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_c
1 asian        0.0000000000
2 black        0.0000000000
3 hispanic     0.0097442144
4 indigenous   0.0000000000
5 unknown      0.0000000000
6 white        0.0006042296

In [13]:
#Consent search rates for violation "Non-Motor Vehicle"
data_clean_6 <- data_clean %>% filter (violation_type == "non-motor vehicle")


data_clean_6 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_nmv = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_nmv
1 asian        0.000000000
2 black        0.000000000
3 hispanic     0.000000000
4 indigenous   0.000000000
5 white        0.003703704

In [14]:
#Consent search rates for violation "Other"
data_clean_7 <- data_clean %>% filter (violation_type == "other")


data_clean_7 %>% 
  group_by(subject_race) %>% 
  summarize(
    consent_search_rate_o = mean(consent_search_conducted, na.rm = T),
  )

  subject_race consent_search_rate_o
1 NA           0.000000000
2 asian        0.000000000
3 black        0.023076923
4 hispanic     0.013157895
5 indigenous   0.025682183
6 unknown      0.000000000
7 white        0.005675643

# Violations by Percentage

In [21]:
#Top violations in overall dataset
data_clean %>% 
  count(violation_type) %>% 
  mutate(prop = n / sum(n)) %>%
  arrange(desc(n))

  violation_type                 n      prop
1 motor vehicle hazardous        654413 0.7931144394
2 NA                              77680 0.0941441103
3 license/registration/insurance  38589 0.0467678562
4 commercial                      19147 0.0232051658
5 equipment                       18161 0.0220101852
6 other                            9380 0.0113680710
7 motor vehicle serious            7440 0.0090168921
8 non-motor vehicle                 308 0.0003732799

In [26]:
#Top violations in overall dataset for white drivers
data_clean_white <- data_clean %>% filter(subject_race == 'white')
data_clean_white %>% 
  count(violation_type) %>% 
  mutate(prop = n / sum(n)) %>%
  arrange(desc(n))

  violation_type                 n      prop
1 motor vehicle hazardous        599310 0.7969176966
2 NA                              70936 0.0943253971
3 license/registration/insurance  34740 0.0461946585
4 commercial                      16551 0.0220082842
5 equipment                       15502 0.0206134023
6 other                            8281 0.0110114556
7 motor vehicle serious            6445 0.0085700799
8 non-motor vehicle                 270 0.0003590258

In [27]:
#Top violations in overall dataset for Native American drivers
data_clean_na <- data_clean %>% filter(subject_race == 'indigenous')
data_clean_na %>% 
  count(violation_type) %>% 
  mutate(prop = n / sum(n)) %>%
  arrange(desc(n))

  violation_type                 n     prop
1 motor vehicle hazardous        28460 0.7338077558
2 NA                              4365 0.1125464109
3 license/registration/insurance  2374 0.0612108086
4 equipment                       2037 0.0525216584
5 other                            623 0.0160633251
6 motor vehicle serious            497 0.0128145627
7 commercial                       403 0.0103908828
8 non-motor vehicle                 25 0.0006445957

In [22]:
#Top violations for consent searches
data_clean_consent <- data_clean %>% filter(consent_search_conducted == TRUE)
data_clean_consent %>% 
  count(violation_type) %>% 
  mutate(prop = n / sum(n)) %>%
  arrange(desc(n))

  violation_type                 n    prop
1 motor vehicle hazardous        1311 0.5852678571
2 license/registration/insurance  325 0.1450892857
3 NA                              297 0.1325892857
4 equipment                       166 0.0741071429
5 other                            69 0.0308035714
6 motor vehicle serious            53 0.0236607143
7 commercial                       18 0.0080357143
8 non-motor vehicle                 1 0.0004464286

In [23]:
#Top violations for consent searches for white drivers
data_clean_consent_white <- data_clean_consent %>% filter(subject_race == 'white')
data_clean_consent_white %>% 
  count(violation_type) %>% 
  mutate(prop = n / sum(n)) %>%
  arrange(desc(n))

  violation_type                 n   prop
1 motor vehicle hazardous        936 0.6007702182
2 license/registration/insurance 217 0.1392811297
3 NA                             205 0.1315789474
4 equipment                      105 0.0673940950
5 other                           47 0.0301668806
6 motor vehicle serious           37 0.0237483954
7 commercial                      10 0.0064184852
8 non-motor vehicle                1 0.0006418485

In [24]:
#Top violations for consent searches for Native American drivers
data_clean_consent_na <- data_clean_consent %>% filter(subject_race == 'indigenous')
data_clean_consent_na %>% 
  count(violation_type) %>% 
  mutate(prop = n / sum(n)) %>%
  arrange(desc(n))

  violation_type                 n   prop
1 motor vehicle hazardous        182 0.46907216
2 license/registration/insurance  78 0.20103093
3 equipment                       55 0.14175258
4 NA                              48 0.12371134
5 other                           16 0.04123711
6 motor vehicle serious            9 0.02319588